<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>应急局执法指南</title>
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/iscroll.css" rel="stylesheet" type="text/css" />
    <style>
        .banner img {width: 100%;}
    </style>

</head>

<body>


<div class="banner">

    <div id="wrapper">
        <div id="scroller">
            <ul id="thelist">
                <li><a href="javascript:void(0)"><img src="../images/bg.png"/></a></ul></a></li>


        </div>
    </div>

    <div id="nav">
        <ul id="indicator">
        </ul>
    </div>

</div>

<ul class="mainmenu">

    <li>
        <a href="../acceptPolice/home?module=1&moduleName=事前执法检查" >
            <b>
                <img src="../images/1.png" height="180" width="180"/>
            </b>
            <span>事前执法检查</span>
        </a>
    </li>
    <li><a href="../acceptPolice/home?module=2&moduleName=行政案件办理" ><b><img src="../images/3.png" height="180" width="180"/></b><span>行政案件办理</span></a></li>
    <li><a href="../acceptPolice/home?module=3&moduleName=执法模板" ><b><img src="../images/4.png" height="180" width="180"/></b><span>执法模板</span></a></li>
    <li><a href="../acceptPolice/home?module=4&moduleName=证据规格指引" ><b><img src="../images/8.png" height="180" width="180"/></b><span>证据规格指引</span></a></li>
    <li><a href="http://w.lawstar.cn/weixin/searchIndex.jsp?from=groupmessage&isappinstalled=0" ><b><img src="../images/6.png" height="180" width="180"/></b><span>法律法规检索</span></a></li>
    <li><a href="https://www.itslaw.com/bj" ><b><img src="../images/7.png" height="180" width="180"/></b><span>案例检索</span></a></li>
    <li>
        <a href="../acceptPolice/home?module=5&moduleName=事故调查处理" >
            <b>
                <img src="../images/5.png" height="180" width="180"/>
            </b>
            <span>事故调查处理</span>
        </a>
    </li>
</ul>

</body>
</html>